.user {
    float: right;
    margin-right: 50px;
    font-size: 20px;
}
.bookDetail {
    margin-top: 30px;
    margin-left: 50px;
}
.bookMin {
    font-size: 25px;
    border-bottom: 1px solid black;
}
.favLink {
    margin: 50px;
    text-decoration: underline;
    font-size: 20px;
    display: inline-block;
    cursor: pointer;
}
.backButton {
    margin-left: 10px;
    cursor: pointer;
    text-decoration: underline;
    font-size: 20px;
    display: inline-block;
}
.bookUrl {
    word-wrap: break-word;
}
.favoriteButton {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

/*************************/
/* Styling Header */
/*************************/
header{
	
	overflow: hidden;
}

#top-header{
		
	text-align: center;
	height: 60px;
}

/****************/
/* Styling Logo */
/****************/
#logo{
	float: left;
	padding: none;
	margin: none;
	height: 60px;
	width: 30%;
}

#logo img{
	width: 60%;
	float: left;
	padding: 10px 0px;
}

/***************************/
/* Styling Navigation Menu */
/***************************/
#menu{
	float: right;
	margin: none;
}
	
#menu ul{
	text-align: center;
	float: right;
	margin: none;
	
}
	
#menu li{
	display: inline-block;
	padding: none;
	margin: none;
}
	
#menu li a, #menu li span{
	display: inline-block;
	padding: 0em 1.5em;
	text-decoration: none;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 60px;
}
	
#menu li a{
		
	color: #FFF;
}
	
#menu li:hover a, #menu li span{
	background: rgba(255, 255, 255, 0.342);
	border-left: 1px solid #0074D9;
	text-decoration: none;
}
