<header>
  <div class="navbar bg-primary shadow-sm">
    <div class="navbar-brand align-item-centre d-flex">
      <i style="font-size: 30px; color: white; cursor: pointer;" class="fa fa-book"  (click)="clickBack()">&nbsp;

      </i>
      <strong style="font-size: 30px; color:white; cursor: pointer;" (click)="clickBack()">Book App</strong>
    </div>
    <nav>
      <div id="menu">
        <ul>
            <li><button class="btn btn-primary" (click)="gotoFav()" >Favorite List</button></li>
            <li><button class="btn btn-primary" (click)="clickBack()">Dashboard</button></li>
            <li><button class="btn btn-primary" (click)="logOut()">Sign out</button></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<div class="user">
        Welcome {{user}}
    </div>
<div>
        <div class="bookDetail">
        <div class="bookMin">
          Boot title: {{ currentBook.title }}
        </div>
        <div class="bookMin">
          Book notes: {{ currentBook.notes }}
        </div>
        <div class="bookMin">
          Book publish date: {{ currentBook.publish_date }}
        </div>
        <div class="bookMin">
          Book subtitle: {{ currentBook.subtitle }}
        </div>
        <div class="bookMin bookUrl">
          Book url: <a href="{{ currentBook.url }}" target="_blank">{{ currentBook.url }}</a>
        </div>
    </div>
    <div class="favoriteButton"> 
        <button *ngIf="!favorite" (click)="favoriteOp()">ADD TO FAVORITE</button>
        <button *ngIf="favorite" (click)="favoriteOp()">REMOVE FROM FAVORITE</button>
    </div>
      </div>