<header>
  <div class="navbar bg-primary shadow-sm">
    <div class="navbar-brand align-item-centre d-flex">
      <i style="font-size: 30px; color: white; cursor: pointer;" class="fa fa-book"  routerLink="/home">&nbsp;

      </i>
      <strong style="font-size: 30px; color:white; cursor: pointer;" routerLink="/home">Book App</strong>
    </div>
    <nav>
      <div id="menu">
        <ul>
            <li><button class="btn btn-primary" (click)="gotoFav()" >Favorite List</button></li>
            <li><button class="btn btn-primary" (click)="showRecommendations()">Recommendations</button></li>
            <li><button class="btn btn-primary" (click)="logOut()">Sign out</button></li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<div>
  <div class="user">
      Welcome {{user}}
  </div>
    <div class="searchDiv">
      <input
        type="text"
        class="search"
        [(ngModel)]="bookSearch"
      />
      <button (click)="bookGet()">Search</button>
    </div>
    
    <div class="bookContainer">
      <div class="bookList">
        <div *ngFor="let item of bookList">
            <div class="bookItem">
          <span class="book" (click)="booKTag(item.edition_key[0])">{{
            item.title
          }}</span>
      </div>
        </div>
      </div>
  
    </div>
  
  </div> 
