.title {
    text-align: center;
    font-size: 40px;
}
.bookkeeper {
    font-family: monospace;
    margin-left: 50px;
    margin-right: 50px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    min-height: 80%
}
.search {
    font-family: monospace;
}
.searchDiv {
    text-align: right;
    margin-right: 50px;
}
.bookList {
    font-size: 25px;
    margin: 10px 50px 10px 50px;
}
.book {
    border-top: 1px;
    margin-top: 10px;
    cursor: pointer;
}
.bookItem {

    border-bottom: 1px solid black;
}
.bookContainer{
    min-height: 600px;
}
.user {
    margin-left: 50px;
    font-size: 20px;
    display: inline-block;
}
.favLink {
    margin: 0px 50px 40px 50px;
    text-decoration: underline;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
} 

/*************************/
/* Styling Header */
/*************************/
header{
	
	overflow: hidden;
}

#top-header{
		
	text-align: center;
	height: 60px;
}

/****************/
/* Styling Logo */
/****************/
#logo{
	float: left;
	padding: none;
	margin: none;
	height: 60px;
	width: 30%;
}

#logo img{
	width: 60%;
	float: left;
	padding: 10px 0px;
}

/***************************/
/* Styling Navigation Menu */
/***************************/
#menu{
	float: right;
	margin: none;
}
	
#menu ul{
	text-align: center;
	float: right;
	margin: none;
	
}
	
#menu li{
	display: inline-block;
	padding: none;
	margin: none;
}
	
#menu li a, #menu li span{
	display: inline-block;
	padding: 0em 1.5em;
	text-decoration: none;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 60px;
}
	
#menu li a{
		
	color: #FFF;
}
	
#menu li:hover a, #menu li span{
	background: rgba(255, 255, 255, 0.342);
	border-left: 1px solid #0074D9;
	text-decoration: none;
}

